#SCREEN2_subbutton1{
    -fx-background-color: white; 
    -fx-text-fill: #E7717D;
    -fx-border-color: #E7717D;
}

#SCREEN2_button2{
    -fx-background-color: white; 
    -fx-text-fill: #E7717D;
    
}