.Screen_subutton_pressed{

    -fx-background-color: white;

    -fx-text-fill: #E7717D;

    -fx-border-color: #E7717D;

}
.tab_button {
  -fx-background-color: #e7717d;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

.tab_button_press {
  -fx-background-color: white;
  -fx-text-fill: #e7717d;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

.tab_head {
  -fx-pref-height: 60px;
  -fx-pref-width: 270px;
  -fx-text-fill: white;
  -fx-background-color: #e7717d;
  -fx-font-size: 16px; 
  -fx-font-weight: bold;
	-fx-border-color: #ffc5c5;
	-fx-border-width: 0 1 0 0;
}
.tab_head:hover{
  -fx-background-color: pink; 
}
.tab_head:pressed{
  -fx-background-color:white; 
  -fx-text-fill: #e7717d;
}

.home_page{
  -fx-pref-height: 60px;
  -fx-pref-width: 90px;
  -fx-text-fill: white;
  -fx-background-color: #e7717d;
  -fx-font-size: 16px; 
  -fx-font-weight: bold;

  -fx-background-image: url('file:/D:/Java/QLHK_CNPM_2/data/home-white.png');
	-fx-background-size: 50 50;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center center;

	-fx-border-color: #ffc5c5;
	-fx-border-width: 0 1 0 0;
}
.tab_head_pressed{
  -fx-background-color:white; 
  -fx-text-fill: #e7717d;
}
.home_page:hover{
  -fx-background-color: pink; 
  -fx-background-image: url('file:/D:/Java/QLHK_CNPM_2/data/home-red.png');	
}
.home_page:pressed{
  -fx-background-color:white; 
  -fx-text-fill: #e7717d;
}

.SCREEN2_button {
  /* -fx-background-image: url(file:/D:/ho-khau-red.png); */
  -fx-content-display: top;
  -fx-background-color: #e7717d;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-font-size: 20px;
}

.SCREEN2_button:hover {
  -fx-background-color: pink;
}
.SCREEN2_button:pressed {
  -fx-background-color: pink;
  -fx-text-fill: #e7717d;
}

.button-submit {
  -fx-pref-width: 300px;
  -fx-pref-height: 35px;
  -fx-background-color: #e7717d;
  -fx-font-weight: bold;
  -fx-padding: 1 1 1 1;
  -fx-font-size: 12px;
  -fx-text-fill: white;
}

.button-submit:hover {
  -fx-background-color: pink;
  -fx-border-color: black;
}

.SCREEN2_subbutton {
  -fx-pref-width: 270px;
  -fx-pref-height: 50px;
  -fx-border-width: 2 1 2 1;
  -fx-border-color: white;
  -fx-background-color: #e7717d;
  -fx-font-weight: bold;
  -fx-font-size: 12px;
  -fx-text-fill: white;
}

.SCREEN2_subbutton:hover {
  -fx-background-color: pink;
}
.SCREEN2_subbutton:pressed {
  -fx-background-color: white;
  -fx-text-fill: #e7717d;
}

/* #Scrre */