.Screen_subutton_pressed{
    -fx-background-color: white; 
    -fx-text-fill: #E7717D;
    -fx-border-color: #E7717D;
}

.Screen_button_pressed{
    
    -fx-background-color: white; 
    -fx-text-fill: #E7717D;
}